<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp2CD06D85712105D7F5156BF1A0845776" Guid="{328BB14C-F0A5-4835-AFE8-58C8C682DCB8}">
                <File Id="fil12B2920321B02E61D60257FD35C20C55" KeyPath="yes" Source="$(var.SourceDir)\desktop_drop_plugin.dll" />
            </Component>
            <Component Id="cmpDC22F85144003CB2F05080B8CF79FC46" Guid="{0E43EA2D-AF4B-43E1-ABF2-AE7059E7B51C}">
                <File Id="fil230F9A11CF93D3D1A94FAA7A9D69118F" KeyPath="yes" Source="$(var.SourceDir)\flutter_windows.dll" />
            </Component>
            <Component Id="cmpC6D512352C0C58594EB1B92CADCF7E0F" Guid="{B376EA29-E600-4E6F-BFF2-34F5549FE28C}">
                <File Id="fil89D0651FBE3B47C01B50A78D45031DDF" KeyPath="yes" Source="$(var.SourceDir)\irondash_engine_context_plugin.dll" />
            </Component>
            <Component Id="cmp77E44E9692BA435CD5BF1E21221B08F4" Guid="{8AFADFDF-414D-4564-BF3B-373814B14B1A}">
                <File Id="fil9A1D857177D311E84A9D39BCCBB4C55A" KeyPath="yes" Source="$(var.SourceDir)\local_notifier_plugin.dll" />
            </Component>
            <Component Id="cmpFF7F9D51BAAD89C4A41CF1779F36FCF0" Guid="{3217707E-14AC-428E-811A-0D2CF68449E6}">
                <File Id="fil7DD2754F0B0D4A5CE105862BDA888F7A" KeyPath="yes" Source="$(var.SourceDir)\matrix_messenger.exe" />
            </Component>
            <Component Id="cmpB1AC150BF57171E60CE6AF36598B46A9" Guid="{63F21E55-E994-4D90-A80F-1EF1E895E754}">
                <File Id="fil0239322223A8B4A59CB7F2C5D0F3A48C" KeyPath="yes" Source="$(var.SourceDir)\msvcp140.dll" />
            </Component>
            <Component Id="cmpE9F08FAD2A628FCE472306FE8DCE93D5" Guid="{9E6B0B9B-86C5-42B6-AA7A-97D569CF0328}">
                <File Id="fil30EDA5C30D6FBF24B7553A1EAE1D4103" KeyPath="yes" Source="$(var.SourceDir)\pdfium.dll" />
            </Component>
            <Component Id="cmp3CEEEE4BAD3E527AF49ED67B0C200170" Guid="{DCA66B4C-C28A-4DD6-88D9-D68733F957DB}">
                <File Id="filC9B15737B6214135DBD892D7745CABF1" KeyPath="yes" Source="$(var.SourceDir)\pdfrx.dll" />
            </Component>
            <Component Id="cmp365E14AF82ADC6C540D523913CE3069A" Guid="{1EC853F4-C1B1-49AA-9AF1-A9CC80B41032}">
                <File Id="filED86BBF8F7C431C358F71926AE1678E7" KeyPath="yes" Source="$(var.SourceDir)\screen_retriever_windows_plugin.dll" />
            </Component>
            <Component Id="cmp6C3B1E501C4BEE3370D502377F0E3BC1" Guid="{29720863-D006-49A2-8460-5AF180E21218}">
                <File Id="fil8C78D66E59C82B0FDC5C33D2590F82F5" KeyPath="yes" Source="$(var.SourceDir)\super_native_extensions.dll" />
            </Component>
            <Component Id="cmp9BA65528BD1ED84669170F1B56DBBA5C" Guid="{D8552C9A-027F-4B5A-A67E-82431D07BB76}">
                <File Id="fil6CBBE799A0CBE04FCBD04781761452EC" KeyPath="yes" Source="$(var.SourceDir)\super_native_extensions_plugin.dll" />
            </Component>
            <Component Id="cmp0C6DEF6F1F0734F97F665810CA2BC4D4" Guid="{A0225FCB-7D1A-4B24-B97C-6B83DE4500AC}">
                <File Id="fil769CC790DC6A05E7B24B1DADF525494B" KeyPath="yes" Source="$(var.SourceDir)\tray_manager_plugin.dll" />
            </Component>
            <Component Id="cmp39E7414C8679E28554E4A9F5B3298D3E" Guid="{C319E85B-00DE-440D-9047-51E715247B98}">
                <File Id="fil34CEE0072415DFB04188A3F265BF58F8" KeyPath="yes" Source="$(var.SourceDir)\url_launcher_windows_plugin.dll" />
            </Component>
            <Component Id="cmpF4BDAE8A068B7352141D703E6D5E677B" Guid="{9A91BC2D-39DD-4BF2-A4AA-755542F82B50}">
                <File Id="fil5DEA999AA1C013B635C8FFBBE3F45E71" KeyPath="yes" Source="$(var.SourceDir)\vcruntime140.dll" />
            </Component>
            <Component Id="cmpC45B25996E14AF1484591C266BD5D670" Guid="{872E684E-6079-4FD3-9FB9-C0D938433138}">
                <File Id="fil50A820DB1DF105BC9A83DEF5E3A3A228" KeyPath="yes" Source="$(var.SourceDir)\vcruntime140_1.dll" />
            </Component>
            <Component Id="cmpB550CB9E5516137B4880DA96C15A4F32" Guid="{3CE37801-FCCE-4484-9E96-C11A70EB3012}">
                <File Id="filA8E3A4FE4F9E7AD5CC146E342E389DF3" KeyPath="yes" Source="$(var.SourceDir)\vodozemac_bindings_dart.dll" />
            </Component>
            <Component Id="cmp17015F3F93DB45A66B49A6F6B9621F0C" Guid="{99484752-3A54-49C4-8879-0452A1E35002}">
                <File Id="filA9DEBF5B222C589885CE4A46933A0574" KeyPath="yes" Source="$(var.SourceDir)\windows_single_instance_plugin.dll" />
            </Component>
            <Component Id="cmp70D7EF34E9B6D1081400F0FC7644524D" Guid="{9D05792A-5828-49FA-A72F-CE4CA21AF269}">
                <File Id="fil6EACF2B9B1DC081EB15B302C51C8FAD7" KeyPath="yes" Source="$(var.SourceDir)\window_manager_plugin.dll" />
            </Component>
            <Directory Id="dir76A8B56EDC1C4DD3CB4177F3704BC91E" Name="data">
                <Component Id="cmpCF83D7D65587D05A151D1E25702E167F" Guid="{8C79FFDF-5C85-481A-9BE4-F5BAB7AB4C11}">
                    <File Id="filC8D6740BEA75F19BA5204B613C03D8A8" KeyPath="yes" Source="$(var.SourceDir)\data\app.so" />
                </Component>
                <Component Id="cmp0E0DCB81807E433F9DBCEB0D089B25B5" Guid="{4F04A55F-E490-4F54-9E02-58BDD644D29C}">
                    <File Id="filFB2ED5EBC1081127146486443055DB0D" KeyPath="yes" Source="$(var.SourceDir)\data\icudtl.dat" />
                </Component>
                <Directory Id="dir4311D903D70E55164A03E9E9374AC9B0" Name="flutter_assets">
                    <Component Id="cmp362972CB336FCADAB6FAD4E58ABB50C0" Guid="{6F9C13ED-A377-4DFF-8DD7-9A78080295EE}">
                        <File Id="filF34A97E96DF56DC7F9FA1F571A635270" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\AssetManifest.bin" />
                    </Component>
                    <Component Id="cmp7A9B0136F23F84A4A09D4D0E28D8636B" Guid="{59AAD90D-9838-448F-9F62-3BA0DF87BDA7}">
                        <File Id="fil130B1805FDD25A50E354B5ADEEAC89F4" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\FontManifest.json" />
                    </Component>
                    <Component Id="cmp90671292812F4FFA17B66812D7B02F23" Guid="{BEC45BC0-26ED-42E3-BA12-19971CC7F42A}">
                        <File Id="fil7BB5C7A3A762FED9EC3F844577DD0A9E" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\NativeAssetsManifest.json" />
                    </Component>
                    <Component Id="cmpB22BCD9EFB853D38668ABE777CBF404C" Guid="{B06BC984-8E30-4C18-883E-911A671E2205}">
                        <File Id="fil95F1B70B711016C2E2A74411F6B41801" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\NOTICES.Z" />
                    </Component>
                    <Directory Id="dir44DE80E5FFD251532250E7F4BB7B2821" Name="assets">
                        <Component Id="cmpE6F1C577B198C75DF889E729BCD83FDD" Guid="{8A2C42F0-AEA4-4D22-BD77-A90143131306}">
                            <File Id="filD8926B14ADCF64989BB0F09818C9D293" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\emblem.png" />
                        </Component>
                        <Component Id="cmpEB2F224A0098BA1F33C06D9CBA459D67" Guid="{9C2F3559-2E61-4687-8BEE-698A6B3EB656}">
                            <File Id="fil15F336BAA03BD8FD99217583C0048AA9" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\emblem_title.png" />
                        </Component>
                        <Component Id="cmp2BBCC4160B5112B845D82DAA49276192" Guid="{7902189D-1721-41AE-AD2D-6DA476EC1F1F}">
                            <File Id="filB00D9287D7846C054B974623766412A9" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\tray_icon.ico" />
                        </Component>
                        <Directory Id="dir478BF1132B01D505DEE1232FDCA01342" Name="certs">
                            <Component Id="cmp4DCABF1324CF5966BE814937B3D9A933" Guid="{D72D0F20-9305-4EE9-9CD1-FE9AD91117B9}">
                                <File Id="fil83050A7F56B072B3738B02D1ADDC2561" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\assets\certs\sgo-msg-ca.crt" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="dirE2A82CA30E4E1381D520C8FF40996653" Name="fonts">
                        <Component Id="cmp9475753282C5250DEC233DF924257EDD" Guid="{B788A394-64A6-4195-A28A-AD53E53B7CAB}">
                            <File Id="fil95709FE501C331265C6CAAD00C2EA783" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\fonts\MaterialIcons-Regular.otf" />
                        </Component>
                    </Directory>
                    <Directory Id="dirE3A5CD763BAF580FDB3696619F614D3F" Name="packages">
                        <Directory Id="dir5FF583AEA68E18714B78C24666F2A264" Name="cupertino_icons">
                            <Directory Id="dir3FA823D26185B1B6457D4DCE2A77C372" Name="assets">
                                <Component Id="cmp995EB1479D86208A86E88112F9873FE0" Guid="{F8DFFC53-F806-43E9-A523-459FBECD8CFC}">
                                    <File Id="fil7EC168CAE9512344DB7F6000958E43CF" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\cupertino_icons\assets\CupertinoIcons.ttf" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="dirA1ED1C5785CE911FEFF13BA18AF20A32" Name="pdfrx">
                            <Directory Id="dir3BAA368CE0346CD025F73BB0529E60EB" Name="assets">
                                <Component Id="cmp8EB54B7E682861B77E6180E9C7D45C8F" Guid="{0FC9D14C-85AA-41E6-A9E9-74BAEBA04EA3}">
                                    <File Id="fil29626049BD742AEFE75E56C6A9DBBCA8" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\pdfrx\assets\pdfium.wasm" />
                                </Component>
                                <Component Id="cmp6C54DF68F897C72C38672197A2151E32" Guid="{1654CAE8-057F-41B7-8335-662C511BEDA6}">
                                    <File Id="filDC395DCD9555B2DB115DAE92137BD8DD" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\pdfrx\assets\pdfium_client.js" />
                                </Component>
                                <Component Id="cmpF788BBC08EC468A42E1D6B6D2C57237C" Guid="{FD641616-8CEE-4844-9C78-1584D93BC784}">
                                    <File Id="filD79AC0F8CC1AA11D2D7546E42264E192" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\packages\pdfrx\assets\pdfium_worker.js" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                    <Directory Id="dir5C01D37FD138B424B270832E735CB541" Name="shaders">
                        <Component Id="cmpB754D63122F49081C0DAAE0074FBD9C1" Guid="{3ED70CBC-FA9E-4500-A192-48694F2D13BE}">
                            <File Id="filFA5374F8D6DDBC810796AB1AB906FB74" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\shaders\ink_sparkle.frag" />
                        </Component>
                        <Component Id="cmp14E84BBADE26D929C9F8A72C4CFCDFF1" Guid="{B23314AF-4D04-4A84-B9DD-3793D122E6E1}">
                            <File Id="fil2CA73DA06B1638CA75CBFC6099280030" KeyPath="yes" Source="$(var.SourceDir)\data\flutter_assets\shaders\stretch_effect.frag" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="AppFiles">
            <ComponentRef Id="cmp2CD06D85712105D7F5156BF1A0845776" />
            <ComponentRef Id="cmpDC22F85144003CB2F05080B8CF79FC46" />
            <ComponentRef Id="cmpC6D512352C0C58594EB1B92CADCF7E0F" />
            <ComponentRef Id="cmp77E44E9692BA435CD5BF1E21221B08F4" />
            <ComponentRef Id="cmpFF7F9D51BAAD89C4A41CF1779F36FCF0" />
            <ComponentRef Id="cmpB1AC150BF57171E60CE6AF36598B46A9" />
            <ComponentRef Id="cmpE9F08FAD2A628FCE472306FE8DCE93D5" />
            <ComponentRef Id="cmp3CEEEE4BAD3E527AF49ED67B0C200170" />
            <ComponentRef Id="cmp365E14AF82ADC6C540D523913CE3069A" />
            <ComponentRef Id="cmp6C3B1E501C4BEE3370D502377F0E3BC1" />
            <ComponentRef Id="cmp9BA65528BD1ED84669170F1B56DBBA5C" />
            <ComponentRef Id="cmp0C6DEF6F1F0734F97F665810CA2BC4D4" />
            <ComponentRef Id="cmp39E7414C8679E28554E4A9F5B3298D3E" />
            <ComponentRef Id="cmpF4BDAE8A068B7352141D703E6D5E677B" />
            <ComponentRef Id="cmpC45B25996E14AF1484591C266BD5D670" />
            <ComponentRef Id="cmpB550CB9E5516137B4880DA96C15A4F32" />
            <ComponentRef Id="cmp17015F3F93DB45A66B49A6F6B9621F0C" />
            <ComponentRef Id="cmp70D7EF34E9B6D1081400F0FC7644524D" />
            <ComponentRef Id="cmpCF83D7D65587D05A151D1E25702E167F" />
            <ComponentRef Id="cmp0E0DCB81807E433F9DBCEB0D089B25B5" />
            <ComponentRef Id="cmp362972CB336FCADAB6FAD4E58ABB50C0" />
            <ComponentRef Id="cmp7A9B0136F23F84A4A09D4D0E28D8636B" />
            <ComponentRef Id="cmp90671292812F4FFA17B66812D7B02F23" />
            <ComponentRef Id="cmpB22BCD9EFB853D38668ABE777CBF404C" />
            <ComponentRef Id="cmpE6F1C577B198C75DF889E729BCD83FDD" />
            <ComponentRef Id="cmpEB2F224A0098BA1F33C06D9CBA459D67" />
            <ComponentRef Id="cmp2BBCC4160B5112B845D82DAA49276192" />
            <ComponentRef Id="cmp4DCABF1324CF5966BE814937B3D9A933" />
            <ComponentRef Id="cmp9475753282C5250DEC233DF924257EDD" />
            <ComponentRef Id="cmp995EB1479D86208A86E88112F9873FE0" />
            <ComponentRef Id="cmp8EB54B7E682861B77E6180E9C7D45C8F" />
            <ComponentRef Id="cmp6C54DF68F897C72C38672197A2151E32" />
            <ComponentRef Id="cmpF788BBC08EC468A42E1D6B6D2C57237C" />
            <ComponentRef Id="cmpB754D63122F49081C0DAAE0074FBD9C1" />
            <ComponentRef Id="cmp14E84BBADE26D929C9F8A72C4CFCDFF1" />
        </ComponentGroup>
    </Fragment>
</Wix>